.item {
  list-style: none;
  display: flex;
  align-items: center;
  width: 450px;
  height: 200px;
  margin: auto auto 60px;
  padding: 20px;
  background-color: rgb(214, 214, 202);
  border-radius: 10px;
  box-shadow: -2px 7px 33px 0 rgba(0, 0, 0, 0.71);
}
ul {
  margin: 0;
}
